<module>
	<rawname>superfecta</rawname>
	<repo>extended</repo>
	<name>CID Superfecta</name>
	<version>2.11.0beta4</version>
	<type>setup</type>
	<category>Admin</category>
	<publisher>POSSA</publisher> 
	<license>GPLv2+</license>
	<description>
	       Provides simultaneous use of, and complete control over multiple caller id data sources.
	</description>
	<changelog>
        *2.11.0beta4* Remove dangling symlinks. Remove all illegal sources (against TOS)
		*2.11.0beta2*	Fix sources versioning
		*2.11.0beta1.2* fix xml
		*2.11.0beta1.1* import into online repo
	</changelog>
	<menuitems>
		<superfecta>CID Superfecta</superfecta>
	</menuitems>
	<info>https://github.com/POSSA/Caller-ID-Superfecta/wiki</info>
	<md5sum>0160b15e700dee463d6e64679fef79f5</md5sum>
	<location>release/2.11/superfecta-2.11.0beta1.2.tgz</location>
</module>